In [1]:
my_list = [1,2,3,4,2,5]

my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [2]:
type(my_list)

list

In [3]:
my_list=list(my_set)

In [5]:
my_list = {x for x in range(1,6)}
my_list

{1, 2, 3, 4, 5}

In [6]:
grade=[80,75,55]
hap=0

for i in grade:
    print("i:",i)
    hap=hap+i
    
print("합계 %d % hap")

i: 80
i: 75
i: 55
합계 %d % hap

자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [7]:
if 13%2 ==0:
    print("Even")
else:
    print("Odd")

Odd

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [45]:
a="881120-1068234"
year=a[0:2]
month=a[2:4]
day=a[4:6]

s=a.split('-')
print(f'당신은 {a[0:2]}년 {a[2:4]}월 {a[4:6]}일 생입니다!')
print(f'당신은 {year}년 {month}월 {day}일 생입니다!')

당신은 88년 11월 20일 생입니다!
당신은 88년 11월 20일 생입니다!

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [13]:
pin = "881120-1068234"
if pin[7]=="2" or pin[7]=='4':
    print('여성입니다!')
else:
    print('남성입니다!')
print(pin[7])

남성입니다!
1

다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [14]:
a="a:b:c:d"

a.replace(':','#')

'a#b#c#d'

 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [15]:
a=[1,2,3,4,5]

print(a[::-1])

[5, 4, 3, 2, 1]

['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [18]:
a=['Life ', 'is ', 'too ', 'short']

"".join(a)

'Life is too short'

(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [22]:
a=(1,2,3)
b=(4,)
c=a+b
print(c)

(1, 2, 3, 4)

딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [25]:
a={'A':90,'B':80,'C':70}
a.pop('A')

90

a 리스트에서 중복 숫자를 제거해 보자.

In [27]:
a=[1,1,2,2,3,3,4,4,5,]
print(set(a)) # set = 중복 삭제

{1, 2, 3, 4, 5}

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [28]:
a=b=[1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [51]:
money = int(input('돈 얼마 있니? '))

if money >= 40000:
    print("스테이크 먹자")
else:
    print('라면이나 먹어')

돈 얼마 있니? 40000
스테이크 먹자

In [57]:
money = True
card = True

if money==True and card ==True:
    print('엄카 고고')
elif money==False and card == True:
    print('엄카 고고')
elif money==True and card==False:
    print('돈 아끼자 ㅠㅠ')
else:
    print('그냥 없어 걸어다녀!')

엄카 고고

In [59]:
money = False
card = False

if money:
    if card:
        print('엄카 긁자')
    else:
        print('아 내 돈은 좀 아까운데..')
else:
    if card:
        print('엄카 긁어!!')
    else:
        print('와 그냥 없어요 돈이 없어요')

와 그냥 없어요 돈이 없어요

In [61]:
l=[1,2,3,4]

5 in l

False

In [70]:
l=[1,5,3,4,2]
l.sort()
l

[1, 2, 3, 4, 5]

In [72]:
print(f"길이는 : {len(l)}")

길이는 : 5

In [78]:
m=5//2
l[m]

3

In [91]:
a=[2,6,9,7,1,5]
a.sort()
a

[1, 2, 5, 6, 7, 9]

In [103]:
l=len(a)
m=l//2
a[m-1:m+1]

[5, 6]

In [106]:
!pip install opencv-python

Collecting opencv-python
  Downloading opencv_python-4.9.0.80-cp37-abi3-win_amd64.whl (38.6 MB)
     --------------------------------------- 38.6/38.6 MB 38.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from opencv-python) (1.23.5)
Installing collected packages: opencv-python
Successfully installed opencv-python-4.9.0.80

In [1]:
import cv2

In [7]:
image_path = 'sample.jpeg'
# 이미지 로드
image = cv2.imread(image_path)
# 이미지 흑백 변환
gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
#윈도우에 이미지 표시
#cv2.imshow('Original image',image) #색깔로 표시
cv2.imshow('Gray image', gray_image) #흑백으로 표시
#키 입력 대기 (아무키나 누르면 윈도우 닫힘)
cv2.waitKey(0)
#모든 윈도우 닫기
cv2.destroyAllwindows()

AttributeError: module 'cv2' has no attribute 'destroyAllwindows'

In [14]:
gray_image

array([[244, 245, 245, ..., 244, 244, 244],
       [246, 246, 246, ..., 244, 244, 244],
       [246, 246, 245, ..., 244, 244, 244],
       ...,
       [232, 233, 233, ..., 232, 232, 233],
       [232, 232, 232, ..., 231, 231, 231],
       [232, 233, 233, ..., 230, 229, 228]], dtype=uint8)

In [15]:
image # 내가 가져온 이미지 색갈 필셀 BRG = BLUE GREEN RED

array([[[244, 244, 244],
        [245, 245, 245],
        [245, 244, 246],
        ...,
        [244, 243, 245],
        [244, 243, 245],
        [244, 243, 245]],

       [[246, 245, 247],
        [246, 245, 247],
        [246, 245, 247],
        ...,
        [244, 243, 245],
        [244, 243, 245],
        [244, 243, 245]],

       [[246, 245, 247],
        [246, 245, 247],
        [245, 244, 246],
        ...,
        [244, 243, 245],
        [244, 243, 245],
        [244, 243, 245]],

       ...,

       [[230, 232, 232],
        [233, 233, 233],
        [233, 233, 233],
        ...,
        [232, 231, 233],
        [232, 231, 233],
        [233, 232, 234]],

       [[232, 232, 232],
        [232, 232, 232],
        [232, 232, 232],
        ...,
        [231, 230, 232],
        [229, 231, 232],
        [231, 230, 232]],

       [[234, 230, 235],
        [235, 232, 234],
        [233, 232, 234],
        ...,
        [230, 229, 231],
        [227, 229, 229],
        [226, 228, 228]]], dtype=uint8)

In [9]:
x = 5
y=10

if x>0 or y>0:
    print("Both x and y are positive.") # 긍정적
else:
    print('negative') # 부정적

Both x and y are positive.

In [10]:
is_raining = True

if not is_raining:
    print("It`s not raining.")
else:
    print("it`s raining")

it`s raining

In [ ]:
import numpy as np
import cv2

# 이미지 크기 설정
width = 400
height = 300

# 붉은색을 나타내는 numpy 메일 생성
red_color = np.full((height, width,3),(0,0,255), dtype=np.uint8)

# 이미지 윈도우에 표시
cv2.imshow('Red Image', red_color)
cv2.waitKey(0)
cv2.destroyAllwindows()